@use '../../styles/utils';
@use '../../styles/settings';

.--auto-complete-content-container {
  background-color: #fff;
  padding: $md;
  position: absolute;
  max-height: 120px;
  overflow: auto;
}
.--auto-complete-content-item-default {
  background-color: white;
}
.--auto-complete-content-item-current {
  background-color: beige;
}
