@use '../../styles/utils';
@use '../../styles/settings';

.--input-label {
  margin: .1em .2em;
}
.--input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
