@use '../../styles/utils';
@use '../../styles/settings';

$button-primary-color: red;
$button-variants: (
  'Button'
);

.Button {
  display: inline;
  text-transform: uppercase;
  padding: settings.$md;
  margin: settings.$md;
  color: settings.$black;
  @include utils.variant($button-variants...);
  &:hover {
    background-color: settings.$gray-200;
  }
  &-disabled {
    color: yellow;
  }
}
.Button-variant-flat {
  background-color: aquamarine;
}
.Button-rounded {
  border-radius: 3em;
}
