@use '../../styles/utils';
@use '../../styles/settings';

$button-primary-color: red;

.Button {
  display: inline;
  text-transform: uppercase;
  padding: settings.$md;
  margin: settings.$md;
  color: settings.$white;
  &:hover {
    background-color: settings.$gray-200;
  }
  .-disabled {
    border: 1.5px solid settings.$primary-color;
  }
}

.Button-variant-plain {
  background-color: settings.$primary-color;
}
.Button-variant-flat {
  background-color: red;
  opacity: .3;
}
.Button-rounded {
  border-radius: 3em;
}
