@use '../../styles/utils';
@use '../../styles/settings';

$button-primary-color: red;

.Button {
  align-items: center;
  padding: settings.$md;
  letter-spacing: .065em;
  text-transform: uppercase;
  border-radius: settings.$border-radius-md;
  color: settings.$white;
  background-color: settings.$primary-color;
  .-disabled {
    border: 1.5px solid settings.$primary-color;
  }
}
.Button-variant-plain {
  background-color: settings.$primary-color;
}
