@use '../../styles/utils';
@use '../../styles/settings';

.menu {
  padding: .5em;
  background-color: #df3a3a;
}
.--menu-content-container {
  background-color: settings.$surface-primary;
}
.--menu-content-item {
  padding: settings.$sm;
  cursor: pointer;
  &:hover {
    background-color: rgb(244, 244, 231);
  }
}
.--menu-content-item-default {
  background-color: white;
}
.--menu-content-item-current {
  background-color: beige;
}
