.text-center {
  text-align: center !important;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
.hidden {
  display: none !important;
}
.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}