@use '../../styles/utils';
@use '../../styles/settings';

.--text-input-wrapper {
  width: 140px;
  margin: settings.$sm;
  display: flex;
  align-items: center;
  border-radius: settings.$border-radius-sm;
  position: relative;
}
.--text-input-element {
  min-width: 8em;
  border: none;
  &:focus, &:active {
    outline: none;
  }
}
.--text-input-container {
  padding: .2em .1em;
  background-color: #fff;
}
.--text-input-default {
  min-width: 5em;
  border: none;
  &:focus, &:active {
    outline: none;
  }
}
.--text-input-outlined {
  border: 1.5px solid settings.$primary-color;
}
.--text-input-filled {
  border: none;
  background-color: settings.$gray-100;
  box-shadow: settings.$shadow-main;
}
.--text-input-disabled {
  border: 1.5px solid settings.$primary-color;
}
.--text-input-text {
  margin: inherit;
  position: absolute;
  z-index: 2;
  transform: translateY(50%);
}
.--text-input-density-default {
  padding: settings.$md;
}
.--text-input-density-compact {
  padding: settings.$sm;
  margin: settings.$sm;
}
.--text-input-clear-icon {
  &:hover {
    background-color: aqua;
  }
}