@mixin variant() {
  &--variant-plain {    
    background-color: green;
  }
  &--variant-outlined {
    border: 1px solid black;
  }
  &--variant-flat {
    background-color: azure;
  }
  &--variant-default {
    color: inherit
  }
  
  
}