@mixin variant($name) {

  &-variant-text,
  &-variant-outlined,
  &-variant-plain {
    background-color: transparent;
    color: inherit;
  }
  &-variant-outlined {
    border: thin solid currentColor
  }
}