.--navbar-root-wrapper {
  width: auto;
}
.--navbar-root-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1;
}
.--navbar-item-wrapper {
  padding: $md;
  color: 'black';
  cursor: pointer;
  background-color: $white;
  &:hover {
    background-color: $gray-200;
  }
}
.--navbar-item-icon {
  margin-right: $sm;
}
