
$primary-color: #397FE8 !default;
$on-primary-color: #fff !default;
$primary-container-color: #5d93e4 !default;
$on-primary-container-color: #072148 !default;

$secondary-color: #4da7e3 !default;
$on-secondary-color: #4da7e3 !default;
$secondary-container-color: #4da7e3 !default;
$on-secondary-container-color: #4da7e3 !default;

$tertiary-color: #4da7e3 !default;

$error-color: #b60a0a !default;
$on-error-color: #fff !default;
$error-container-color: #b60a0a;
$on-error-container-color: #b60a0a;

$success-color: #0fa66c !default;
$on-success-color: #fff !default;

$dense-color: #acafad !default;
$on-dense-color: #e0e0e0 !default;

$surface-primary: rgb(240, 246, 246) !default;
$surface-bright: #f4f4f4 !default;
$surface-dim: #f4f4f4 !default;
$on-surface: #000000;

$surface-container: #000000;
$surface-container-high: #000000;
$surface-container-highest: #000000;
$surface-container-low: #000000;
$surface-container-lowest: #000000;

$shadow: #000000;

$red-primary: #b51b1b;
$green-primary: #05c957;
$blue-primary: #1A94F7;

$white: #fff;
$black: #000000;

$gray-100: #f5f5f5;
$gray-200: #e2e2e2;
$gray-300: #c0c0c0;
$gray-400: #d0d0d0;
$gray-500: #a0a0a0;

// size
$xm: .1em;
$sm: .3em;
$md: .5em;
$lg: .7em;
$xl: 1em;

$shadow-main: rgba(0, 0, 0, 0.36) 0px 1px 3px;

$border-radius-sm: .20em;
$border-radius-md: .25em;
