
$primary-color: rgb(57, 127, 232) !default;
$on-primary-color: #fff !default;
$primary-container-color: rgb(102, 155, 234) !default;
$on-primary-container-color: #072148 !default;

$secondary-color: #4da7e3 !default;
$secondary-variant-color: #4da7e3 !default;

$error-color: #b60a0a !default;

$success-color: #0fa66c !default;
$dense-color: #acafad !default;

$bg-gray-primary: #f4f4f4 !default;

$red-primary: #b51b1b;

$green-primary: #05c957;


$white: #fff;
$gray-100: #e2e2e2;
$gray-200: #e0e0e0;
$gray-300: #dddddd;

$xm: .1em;
$sm: .3em;
$md: .5em;
$lg: .7em;
$xl: 1em;

$shadow-main: rgba(0, 0, 0, 0.36) 0px 1px 3px;

$border-radius-sm: .20em;
$border-radius-md: .25em;
