

$primary-color: #2a87b3 !default;
$secondary-color: #4da7e3 !default;
$danger-color: #bd1313 !default;
$dense-color: #acafad !default;

$bg-gray-primary: #f4f4f4 !default;

$white-100: #fff;
$white-200: #fff;
$white-300: #fff;
$white-400: #fff;

$xm: .1em;
$sm: .3em;
$md: .5em;
$lg: .7em;
$xl: 1em;

$shadow-main: rgba(0, 0, 0, 0.36) 0px 1px 3px;

$border-radius-sm: .20em;
$border-radius-md: .25em;
