
.--text-input-wrapper {
  margin: $sm;
  display: flex;
  border-radius: $border-radius-sm;
  position: relative;
}
.--text-input-default {
  min-width: 5em;
  border: none;
  &:active {
    border: none;
  }
}
.--text-input-outlined {
  border: 1.5px solid $primary-color;
}
.--text-input-filled {
  border: none;
  background-color: $gray-100;
  box-shadow: $shadow-main;
}
.--text-input-disabled {
  border: 1.5px solid $primary-color;
}
.--text-input-text {
  margin: inherit;
  position: absolute;
  z-index: 2;
  transform: translateY(50%);
}
.--text-input-density-default {
  padding: $md;
}
.--text-input-density-compact {
  padding: $sm;
  margin: $sm;
}
